@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');
body {
  background-color: black;
  background-size: cover;
  background-repeat: no-repeat;
  font-family: 'Montserrat', sans-serif;
  padding: 0 10% 0 10%;
  color: white;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
  /* animation-name: backgroundanimation;
  animation-duration: 1s;
  animation-timing-function: ease-in-out; */
}
@keyframes backgroundanimation {
  0% {background-color: black;}
  25% {background-color: darkblue;}
  50% {background-color: black;}
  75% {background-color: darkblue;}
  100% {background-color: black;}
}
header {
  min-height: 18vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
header h1 {
  font-size: 300%;
  color: white;
  text-align: center;
  /* border: 1px solid rgba(255, 0, 0, 0.5); */
  border-radius: 15px;
  padding: 10px 10px 10px 10px;
}
main {
  flex: 1;
}
.grid {
  display: inline-grid;
  grid-template-columns: 25vw 25vw 25vw;
  grid-gap: 10px;
  background-color: black;
  padding: 5px 5px 5px 5px;
}
.main-image {
  display: flex;
  justify-content: center;
}
section img {
  max-height: 80vh;
}
article {
  /* width: 300px;
  height: 400px; */
  background-color: black;
  min-height: 50vh;
  background-image: url("epilepsitunnel.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 15px;
}
#combo_bot {
  background-image: url("Combo-Bot.png");
}
#ace_of_shades {
  background-image: url("Ace-of-Shades.png");
}
#melody_madness {
  background-image: url("Melody-Madness.png");
}
#roll_a_ball {
  background-image: url("Roll-A-Ball.png");
}
#word_search_3d {
  background-image: url("WordSearch3D.png");
}
.darken {
  background-color: rgba(0, 0, 0, 0.6);
  background-position: center;
  width: 100%;
  height: 100%;
  position: relative;
  color: rgba(255, 255, 255, 0.0);
  transition: 1s;
}
.darken:hover {
  background-color: rgba(0, 0, 0, 0.35);
  color: rgba(255, 255, 255, 1.0);
}
article h3 {
  text-align: center;
  margin: 0;
  padding: 1em 0 1em 0;
  color: rgba(255, 255, 255, 1.0);
}
/* @keyframes appear_on_hover {
  from {color: rgba(255, 255, 255, 0.0);}
  to {color: rgba(255, 255, 255, 1.0);}
} */
.project_explanation {
  /* color: rgba(255, 255, 255, 0.0); */
  text-align: center;
  margin: 0 10px 40px 10px;
}
/* .project_explanation:hover {
  animation-name: appear_on_hover;
  animation-fill-mode: forwards;
  animation-duration: 1s;
} */
.bottom {
  bottom: 0;
  position: absolute;
  width: 100%;
  margin-bottom: 10px;
}
.button {
  display: flex;
  justify-content: center;
  position: relative;
  margin-bottom: -14px;
  opacity: 0.0;
}
button {
  text-align: center;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  text-decoration: none;
  cursor: pointer;
  width: 5em;
  height: 2em;
  /* margin-top: 25vh; */
}
#combobutton {
  background-color: #5b8cfa;
  color: white;
}
#acebutton {
  background-color: black;
  color: white;
}
#melodybutton {
  background-color: #8b9150;
  color: black;
}
#wordbutton {
  background-color: white;
  color: black;
}
@keyframes appearOnHover {
  from {margin-bottom: -14px; opacity: 0.0;}
  to {margin-bottom: 0px; opacity: 1.0;}
}
.darken:hover .button {
  animation-name: appearOnHover;
  animation-fill-mode: forwards;
  animation-duration: 2s;
}
footer {
  clear: left;
  min-height: 50px;
}
footer h3 {
  text-align: center;
  font-weight: normal;
  font-size: 90%;
}
