@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');
body {
  background-color: black;
  background-size: cover;
  background-repeat: no-repeat;
  font-family: 'Montserrat', sans-serif;
  padding: 0 10% 0 10%;
  color: white;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
}
header {
  min-height: 18vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
header h1 {
  font-size: 300%;
  color: white;
  text-align: center;
  border-radius: 15px;
  padding: 10px 10px 10px 10px;
}
main {
  flex: 1;
  justify-content: center;
}
.grid {
  display: inline-grid;
  grid-template-columns: 12.5vw 12.5vw 12.5vw 12.5vw 12.5vw 12.5vw;
  grid-gap: 10px;
  background-color: black;
  padding: 5px 5px 5px 5px;
  margin-bottom: 80px;
}
.main-image {
  display: flex;
  justify-content: center;
  margin-bottom: 80px;
  position: relative;
}
.image-text-positioning {
  position: absolute;
  top: 20vh;
  width: 75vw;
}
.image-text {
  margin-left: -2vw;
  width: 30vw;
  padding-top: 10px;
  padding-bottom: 2px;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 15px;
  border: 0px solid rgba(0, 0, 0, 0.0);
}
.image-text h2 {
  margin-top: 0;
  margin-bottom: 0.5em;
}
.image-text p {
  margin-top: 0.4em;
  margin-bottom: 0.4em;
}
#imageholder {
  width: 75vw;
  height: 75vh;
  display: block;
  position: relative;
  background-image: url("Combo-Bot.png");
  background-size: cover;
  background-position: center center;
}
#imageholder2 {
  width: 100%;
  height: 100%;
  display: block;
  position: relative;
  background-image: url("Roll-A-Ball.png");
  background-size: cover;
  background-position: center center;
  opacity: 1;
  animation-name: image3fader;
  animation-duration: 24s;
  animation-iteration-count: infinite;
  animation-fill-mode: forwards;
}
#imageholder3 {
  width: 100%;
  height: 100%;
  display: block;
  position: relative;
  background-image: url("WordSearch3D2.png");
  background-size: cover;
  background-position: center center;
  opacity: 1;
  animation-name: image2fader;
  animation-duration: 24s;
  animation-iteration-count: infinite;
  animation-fill-mode: forwards;
}
#imageholder img {
  opacity: 1;
  animation-name: imagefader;
  animation-duration: 24s;
  animation-iteration-count: infinite;
  animation-fill-mode: forwards;
  object-fit: cover;
}
@keyframes imagefader {
  0% {opacity: 1;}
  12.5% {opacity: 1;} /*3 s*/
  33.3% {opacity: 0;} /*8 s*/
  99% {opacity: 0;}
  100% {opacity: 1;}
}
@keyframes image2fader {
  0% {opacity: 1;}
  45.8% {opacity: 1;} /*11 s*/
  66.6% {opacity: 0;} /*16 s*/
  100% {opacity: 0;}
}
@keyframes image3fader {
  0% {opacity: 1;}
  79.2% {opacity: 1;} /*19 s*/
  100% {opacity: 0;} /*24 s*/
}
section img {
  max-height: 80vh;
}
.titlecenter {
  text-align: center;
}
.titlecenter h1 {
  font-size: 200%;
}
article {
  background-color: black;
  min-height: 50vh;
  background-image: url("epilepsitunnel.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 15px;
}
#combo_bot {
  background-image: url("Combo-Bot.png");
  grid-column: 1 / span 2;
}
#ace_of_shades {
  background-image: url("Ace-of-Shades.png");
  grid-column: 3 / span 2;
}
#melody_madness {
  background-image: url("Melody-Madness.png");
  grid-column: 5 / span 2;
}
#roll_a_ball {
  background-image: url("Roll-A-Ball.png");
  grid-column: 2 / span 2;
}
#word_search_3d {
  background-image: url("WordSearch3D.png");
  grid-column: 4 / span 2;
}
.darken {
  background-color: rgba(0, 0, 0, 0.6);
  background-position: center;
  width: 100%;
  height: 100%;
  position: relative;
  color: rgba(255, 255, 255, 0.0);
  transition: 1s;
}
.darken:hover {
  background-color: rgba(0, 0, 0, 0.35);
  color: rgba(255, 255, 255, 1.0);
}
article h3 {
  text-align: center;
  margin: 0;
  padding: 1em 0 1em 0;
  color: rgba(255, 255, 255, 1.0);
}
/* @keyframes appear_on_hover {
  from {color: rgba(255, 255, 255, 0.0);}
  to {color: rgba(255, 255, 255, 1.0);}
} */
.project_explanation {
  /* color: rgba(255, 255, 255, 0.0); */
  text-align: center;
  margin: 0 10px 40px 10px;
}
/* .project_explanation:hover {
  animation-name: appear_on_hover;
  animation-fill-mode: forwards;
  animation-duration: 1s;
} */
.bottom {
  bottom: 0;
  position: absolute;
  width: 100%;
  margin-bottom: 10px;
}
.button {
  display: flex;
  justify-content: center;
  position: relative;
  margin-bottom: -14px;
  opacity: 0.0;
}
button {
  text-align: center;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  text-decoration: none;
  cursor: pointer;
  width: 5em;
  height: 2em;
}
#combobutton {
  background-color: #5b8cfa;
  color: white;
}
#acebutton {
  background-color: black;
  color: white;
}
#melodybutton {
  background-color: #ccbd7b; /* old color: #8b9150 */
  color: black;
}
#wordbutton {
  background-color: white;
  color: black;
}
@keyframes appearOnHover {
  from {margin-bottom: -14px; opacity: 0.0;}
  to {margin-bottom: 0px; opacity: 1.0;}
}
.darken:hover .button {
  animation-name: appearOnHover;
  animation-fill-mode: forwards;
  animation-duration: 2s;
}
.gridskills {
  display: inline-grid;
  grid-template-columns: 15vw 15vw 15vw 15vw 15vw;
  grid-gap: 5px;
  background-color: black;
  padding: 5px 5px 5px 5px;
  margin-bottom: 80px;
  margin-left: 1.8%;
}
.gridskills p {
  text-align: center;
}
.gridskills h2 {
  text-align: center;
}
footer {
  clear: left;
  min-height: 50px;
  display: block;
}
footer h2 {
  text-align: center;
}
footer a {
  text-align: center;
  font-weight: normal;
  font-size: 90%;
  display: block;
  margin-bottom: 40px;
}
footer h3 {
  text-align: center;
  font-weight: normal;
  font-size: 90%;
}
